body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.nav-item {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.display-linebreak {
  white-space: pre-line;
}

.cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

.bg-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-inline {
  padding-right: 10px;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-on-hover {
  display: none;
}

.hover-target:hover > .show-on-hover {
  display: block;
}

.form-control[readonly] {
  background-color: #f0f3f5;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: #20a8d8;
}

.card > .arrow,
.card > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.card > .arrow {
  border-width: 11px;
}
.card > .arrow:after {
  content: "";
  border-width: 10px;
}
.card.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}
.card.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.card.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}
.card.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.card.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.card.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.card.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.card.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}

/* fancy scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(113, 112, 107, 0.1);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Fix datepicker see through */
.react-datepicker-popper {
  z-index: 3;
}

/* make the dropdowns perty */
.dropdown-item-styled {
  padding: 6px 20px;
  border-bottom: none;
}

.badge-blue {
  color: #23282c;
  background-color: #20a8d8;
}

.badge-light-blue {
  color: #23282c;
  background-color: #63c2de;
}

.badge-indigo {
  color: #ffffff;
  background-color: #6610f2;
}

.badge-purple {
  color: #ffffff;
  background-color: #6f42c1;
}

.badge-pink {
  color: #23282c;
  background-color: #e83e8c;
}

.badge-red {
  color: #23282c;
  background-color: #f86c6b;
}

.badge-orange {
  color: #23282c;
  background-color: #f8cb00;
}

.badge-yellow {
  color: #23282c;
  background-color: #ffc107;
}

.badge-green {
  color: #ffffff;
  background-color: #4dbd74;
}

.badge-teal {
  color: #ffffff;
  background-color: #20c997;
}

.badge-cyan {
  color: #ffffff;
  background-color: #17a2b8;
}

.bg-blue {
  background-color: #20a8d8;
}

.bg-light-blue {
  background-color: #63c2de;
}

.bg-indigo {
  background-color: #6610f2;
}

.bg-purple {
  background-color: #6f42c1;
}

.bg-pink {
  background-color: #e83e8c;
}

.bg-red {
  background-color: #f86c6b;
}

.bg-orange {
  background-color: #f8cb00;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-green {
  background-color: #4dbd74;
}

.bg-teal {
  background-color: #20c997;
}

.bg-cyan {
  background-color: #17a2b8;
}
